@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
      font-family: "Nunito";
      src: url("../src/fonts/Nunito-ExtraBold.ttf") format("truetype");
}

@font-face {
      font-family: "MerriweatherSans";
      src: url("../src/fonts/MerriweatherSans-Regular.ttf") format("truetype");
}
